<!--
Custom nvbar color
-->
<nav class="navbar navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="#">Donutgram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <li>
              <%= link_to "New Post", new_post_path %>
          </li>
        <% if current_user %>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li>
              <%= link_to "Login", new_user_session_path %>
          </li>
          <li>
              <%= link_to "Register", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
