<div class="row">
  <%= render 'gantt' %>
</div>
<div class="row">
  <%= render 'sankey' %>
</div>
<div class="row">
  <%= render 'gaugechart' %>
</div>
<div class="row">
  <%= render 'gantt' %>
</div>
