<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>What's up, <%= @username %>!</h2>
    </div>
  </div>
</div>
<!-- begin row 1. -->
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Profile</div>
      <div class="panel-body">
        <p>my m'f'n profile</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tweets Main</h3>
      </div>
      <div class="panel-body">
        <p>Tweets feed here</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Follow</div>
      <div class="panel-body">
        <p>Follow some cool projects.</p>
      </div>
    </div>
  </div>
</div>

<!-- begin row 2. -->
<div class="row">
  <div class="col-md-3 col-md-offset-9"><h3>trending donuts</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="row">
  <%= render 'pages/dashboard' %>
  </div>
</div>
